{{#each}}
<li class='five-days__weather-week-item'>
  <h3 class='five-days__weather-week-title five-days__weather-week-title-active'>
    Sunday
  </h3>
  <h4 class='five-days__weather-week-date'>09 FEB</h4>
  <img src='http://openweathermap.org/img/wn/04d.png' alt='' class='five-days__weather-week-img' />
  <div class='five-days__weather-week-temperature-block'>
    <div class='five-days__weather-week-min-max'>
      <p class='five-days__weather-week-title'>min</p>
      <p class='five-days__weather-week five-days__weather-week-degrees'>2 &deg</p>
    </div>
    <i class='days-list__line days-list__line--mobile'></i>
    <i class='days-list__line days-list__line--tablet_desktop'></i>
    <div class='five-days__weather-week-min-max'>
      <p class='five-days__weather-week-title'>max</p>
      <p class='five-days__weather-week five-days__weather-week-degrees'>5 &deg</p>
    </div>
  </div>
  <button class='five-days__weather-more-btn' type='button' data-day=''>
    more info
  </button>
</li>
{{/each}}
