.quote {
  text-align: -webkit-right;
}

.quote__text {
  width: 210px;
  margin-bottom: 14px;
  font-style: italic;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.04em;
}

.quote__author {
  font-size: 18px;
  text-align: right;
  letter-spacing: 0.04em;
  padding-bottom: 67px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .quote {
    padding-right: 60px;
  }
  .quote__text {
    width: 375px;
    margin-bottom: 30px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .quote {
    height: 280px;
    // padding-top: 100px;
    // margin-right: -110px;
    margin-top: 5px;
  }
  .quote__text {
    font-size: 22px;
    padding-left: 30px;
    padding-top: 73px;
  }
}
